body {
	background-color: #a6eedf;
}

.root {
	text-align: center;
	width: 100%;
	margin: auto;
}

.title {
	font-family: 'Cabin Sketch';
	font-size: 48px;
}

.header {
	display: flex;
}

.btn-container {
	display: flex;
	align-items: center;
}

.btn {
	width: 140px;
	height: 30px;
	border-radius: 5px;
	position: relative;
	outline: none;
	border: none;
	cursor: pointer;
	font-family: 'Cabin Sketch';
	font-size: 16px;
	background-color: #3fceaa;
	box-shadow: 0 6px #409a89;
}
.btn:hover {
	box-shadow: 0 4px #409a89;
	top: 2px;
}
.btn:active {
	box-shadow: none;
	top: 6px;
}
.active-color {
	width: 140px;
	height: 30px;
	border-radius: 5px;
	position: relative;
	outline: none;
	border: none;
	cursor: pointer;
	font-family: 'Cabin Sketch';
	font-size: 16px;
	background-color: #3fceaa;
	box-shadow: none;
	top: 6px;
}

.cell-container {
	display: grid;
	border: 75px solid #df3b15;
	border-radius: 15px;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	height: 540px;
	width: 960px;
	margin: auto;
}

.clear {
	animation: shake 1s;
	animation-iteration-count: infinite;
}

.cell {
	border: none;
}

@media only screen and (max-width: 1400px) {
	.header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto 25px auto;
		width: 75%;
	}
	.btn-container {
		width: 720px;
		justify-content: space-around;
	}
	.title {
		margin: 10px;
	}
	.cell-container {
		border: 50px solid #df3b15;
		width: 720px;
		height: 480px;
	}
}
@media only screen and (min-width: 1401px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
		margin: auto;
		width: 70%;
	}
	.btn-container {
		width: 60%;
		justify-content: space-between;
	}
}

@keyframes shake {
	0% {
		transform: translate(2px, 2px) rotate(0deg);
	}
	10% {
		transform: translate(-2px, -4px) rotate(-2deg);
	}
	20% {
		transform: translate(-6px, 0px) rotate(2deg);
	}
	30% {
		transform: translate(6px, 4px) rotate(0deg);
	}
	40% {
		transform: translate(2px, -2px) rotate(2deg);
	}
	50% {
		transform: translate(-2px, 4px) rotate(-2deg);
	}
	60% {
		transform: translate(-6px, 2px) rotate(0deg);
	}
	70% {
		transform: translate(6px, 2px) rotate(-2deg);
	}
	80% {
		transform: translate(-2px, -2px) rotate(2deg);
	}
	90% {
		transform: translate(2px, 4px) rotate(0deg);
	}
	100% {
		transform: translate(2px, -4px) rotate(-2deg);
	}
}
