.root {
	text-align: center;
}

#clear-btn {
	margin: 25px 0;
}

.cell-container {
	display: grid;
	height: 540px;
	width: 960px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-left: 1px solid rgba(0, 0, 0, 0.05);
	margin: auto;
}

.cell {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-right: 1px solid rgba(0, 0, 0, 0.05);
}
